@media (max-width: 719px) {
    #mapplaces,
    #maphomes,
    #main {
        display: none;
    }
}

@media (min-width: 720px) {
    #warning {
        display: none;
    }
}

body {
  background-color: #111;
}

#warning {
    color: #ee3311;
    font-size: 50px;
    padding: 5vw;
}

#main {
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

canvas {
  margin-right: 500px;
}

.help-block {
  padding-top: 10px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #fff;
  margin-top: 15px
}

#homeareas {
  margin-bottom: 30px;
}

#filters,
#labels-list {
  height: 50vh;
  overflow: auto;
  padding: 20px;
}

#filters > div,
#labels-list > div {
  width: 460px;
}

#filters {
  background-color: hsl(230, 50%, 90%);
}

#labels-list {
  background-color: hsl(30, 50%, 90%);
}

a {
  color: hsl(230, 90%, 50%)
}

a:hover {
  color: hsl(230, 70%, 70%)
}

#labels-list li {
  list-style: none;
  padding: 5px;
  line-height: 1.2em;
}
